@page "/"
@using TodoAppBlazorServer.Services;
@inject ITodoService _todoService;

<PageTitle>Todo List</PageTitle>

<div class="border" style="padding: 20px; margin-top: 20px;">
    <div style="display: flex; flex-direction: column">
        @foreach (var todo in Todos)
        {
            <div style="display: flex; align-items: center;margin-bottom: 10px;">
                <div class="@ItemClass(todo)" style="width: 280px;">@todo.Text</div>
            </div>
        }
    </div>
</div>

@code {
    private IList<TodoItem> Todos { get; set; } = new List<TodoItem>();

    protected override void OnInitialized()
    {
        Todos = _todoService.GetAll().ToList();
    }

    public string ItemClass(TodoItem item)
    {
        return item.Completed ? "item-completed" : "";
    }
}