@inherits LayoutComponentBase

<PageTitle>TodoAppBlazorServer</PageTitle>

<div class="page">
    <main>
         <div class="top-row px-4" style="justify-content: space-between;">
            <div style="display: flex; align-items: center;">
                <div><ChecklistIcon /></div>
                <div style="margin-left: 5px;"><b>Todo List</b></div>
            </div>
            <div>
                <a href="https://www.claudiobernasconi.ch" target="_blank">Blog</a>
                <a href="https://youtube.com/claudiobernasconi" target="_blank">YouTube</a>
                <a href="https://twitter.com/CHBernasconiC" target="_blank">Twitter</a>
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
